{% extends 'greenhaven/base.html' %}

{% block content %}

<section class="form-page">
    <div class="form-card">
        <h2>Create Account</h2>

        <form>
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Phone Number">
            <input type="text" placeholder="Address">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">

            <button type="submit">Register</button>
        </form>
    </div>
</section>

{% endblock %}